// Colores
$color-brown: #664729;
$color-light: #FFF2E5;
$color-dark: #B38F6B;

// Botones
$btn-bg: $color-brown;
$btn-text: #000000;
$btn-bg-hover: #9c66309d;
$btn-text-hover: #000000;

// Contenedor de mapa
$map-container-border-radius: 10px;

// Carrusel
$carousel-item-margin: 10px;

// Ventana emergente de inicio de sesión
$popup-bg: rgba(0, 0, 0, 0.5);
$popup-max-width: 400px;
$popup-padding: 20px;
$popup-border-radius: 5px;

// Opciones de pago
$payment-container-bg: #f8f9fa;
$payment-container-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$payment-options-max-width: 600px;
$payment-options-padding: 20px;

// Contenedor de inicio de sesión 1
$login-container1-width: 300px;
$login-container1-padding: 20px;
$login-container1-bg: #fff;
$login-container1-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);