@import 'variables.scss';

@font-face {
  font-family: "MiFuente";
  src: url("../walbaum/Walbaum60pt.ttf");
}

a {
  font-family: "MiFuente", sans-serif;
}

body {
  padding-top: 4.5rem;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.text-brown-custom {
  color: $color-brown;
}

@media (min-width: 768px) {
  .ofertas-input {
    width: 50%;
  }
}

.bg-custom-color {
  background-color: $color-brown;
}

.bg-custom-color2 {
  background-color: $color-light;
}

.bg-custom-color3 {
  background-color: $color-dark;
}

.btn.bg-custom-color.text-light.btn-lg {
  background-color: $btn-bg;
  color: $btn-text;
}

.btn.bg-custom-color.text-light.btn-lg:hover {
  background-color: $btn-bg-hover;
  color: $btn-text-hover;
}

.map-container {
  overflow: hidden;
  border-radius: $map-container-border-radius;
}

.carousel-item img {
  margin-right: $carousel-item-margin;
}

.carousel-item:last-child img {
  margin-right: 0;
}

.carousel-indicators {
  display: none;
}

.login-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $popup-bg;
}

.login-popup .popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: $popup-padding;
  max-width: $popup-max-width;
  width: 90%;
  border-radius: $popup-border-radius;
  text-align: center;
}

.login-popup .popup-content h3 {
 margin-bottom: 20px;
}

.login-popup .popup-content .form-control {
  margin-bottom: 10px;
}

.registration-form {
  display: none;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-popup {
  background-color: $popup-bg;
  padding: $popup-padding;
  border-radius: $popup-border-radius;
}

.payment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.payment-options {
  max-width: $payment-options-max-width;
  padding: $payment-options-padding;
  background-color: $payment-container-bg;
  border-radius: $popup-border-radius;
  box-shadow: $payment-container-box-shadow;
  text-align: center;
}

.payment-options h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.payment-options ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.payment-options ul li {
  margin-bottom: 10px;
}

.payment-options ul li i {
  margin-right: 5px;
}

.login-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-popup1 {
  width: $login-container1-width;
  padding: $login-container1-padding;
  background-color: $login-container1-bg;
  box-shadow: $login-container1-box-shadow;
  text-align: center;
}

.login-popup1 h3 {
  margin-bottom: 20px;
}

.login-popup1 input,
.login-popup1 button {
  width: 100%;
  margin-bottom: 10px;
}

.login-popup1 .mt-3 {
  font-size: 14px;
}

.registration-form {
    display: none;

}

.empty-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
}